@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');

.pronunciation-home-wrapper {
  text-align: center;
  font-family: 'Comic Neue', cursive;
  padding: 50px;
  background-image: url('/public/images/pronunciation/backgroundstart.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f9f9;
}

.pronunciation-home-header h1 {

  margin-top: 80px;
  font-size: 3rem;
  color: #333;
 
  padding: 10px 20px;
  border-radius: 10px;
}

.pronunciation-home-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.pronunciation-home-btn {
  font-size: 1.5rem;
  padding: 15px 40px;
  border: none;
  font-family: 'Sour Gummy', sans-serif;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.beginner-home-btn {
  background-color: #4caf50;
  color: white;
}

.advanced-home-btn {
  background-color: #2196f3;
  color: white;
}

.pronunciation-home-btn:hover {
  transform: scale(1.1);
}

.beginner-home-btn:hover {
  background-color: #45a049;
}

.advanced-home-btn:hover {
  background-color: #1e88e5;
}

.pronunciation-home-btn:active {
  transform: scale(1.05);
  opacity: 0.9;
}
