@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

.game-container {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.background-wrapper {
  display: flex;
  position: absolute;
  top: -50px;
  /* Adjust this value to move it up */
  left: 0;
  width: 100%;
  height: 100%;

}

.background-video {
  width: 100vw;
  height: 109vh;
  object-fit: cover;
}



.button-container {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Sour Gummy', sans-serif;
  display: flex;

  gap: 20px;
}

.start-end-btn {
  font-size: 30px;
  font-weight: bold;
  margin-inline-end: 1250%;
  margin-top: -70px;
  border-radius: 10px;
  background-color: #2196f3;
  ;

}

.start-end-btn:hover {
  transform: scale(1.1);
  background-color: #1e88e5;
  /* Slightly brighter green for Beginner */
}

.timer-emotion-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  position: relative;
  bottom: 80px;
}

.timer1,
.emotion-container1 h3 {
  font-size: 1.5rem;
}

.emotion-container1 {
  margin-left: 35%;
  font-family: 'Sour Gummy', sans-serif;
  color: whitesmoke;
  margin-top: -88px;

}



.smile-message1 {
  font-size: 30px;
  margin-bottom: 5px;
  font-weight: bold;
  border-radius: 10px;
  background-color: #2196f3;

}

.emotion-container1 h3 {
  font-size: 30px;
  font-weight: bold;
  border-radius: 10px;
  background-color: #2196f3;

}

.timer1 {
  background-color: #e28d0e;
  font-family: 'Sour Gummy', sans-serif;
  color: white;
  font-weight: bold;
  font-size: 50px;
  height: 150px;
  width: 150px;
  margin-top: -100px;
  margin-right: -100px;
  border-radius: 100px;

  /* Centering text */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.game-area1 {
  position: relative;
  width: 100%;
  height: 265px;
  margin-bottom: -15px;
  /* background-color: aqua;
   */
  overflow: hidden;
}

.character {
  position: absolute;
  bottom: 35px;
  left: 10px;
  transition: left 0.1s linear;
}

.character-img {
  width: 100px;
  height: 120px;
  margin-block-end: 30px;
  object-fit: contain;
}

.win-message1 {
  font-size: large;
  color: black;


}