h2{
  font-size: 50px;
}

  .question-page {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    min-height: 100vh;
    }
  
  .question-container {
    flex: 4;
    text-align: center;
  }
  
  .question-count-grid {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 100px); 
    grid-gap: 30px;
   margin-left: 10%;
    margin-right: 1%;
    
  }
  
  .question-box {
    width: 100px;
    height: 100px;
    border: 2px solid #007bff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50px;
    background-color: #f0f0f0; 
  }
  
  .question-box.correct {
    background-color: #28a745; 
    color: #ffffff; 
  }
  
  .question-box.wrong {
    background-color: #dc3545; 
    color: #ffffff; 
  }
  
  .question11 {
    font-family: 'Sour Gummy', sans-serif;
    font-size: 250px;
    font-weight: bold;
  }
  
  
  input {
    padding: 10px;
    font-size: 80px;
    width: 300px;
    border: 2px solid #FF4500;
    border-radius: 10px;
    font-family: 'Sour Gummy', sans-serif;
    font-weight: bold;
  }
  
  .button1 {
    background-color: #FF6347;
    margin-top: 50px;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 100px;
    cursor: pointer;
    font-family: 'Sour Gummy', sans-serif;
  font-size: 60px; /* Adjust the size as needed */
  font-weight: bold;
  }
  
  
  .button1:hover {
    background-color: #FF4500;
  }
  