@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

.beginner-category-container {
  display: flex;
  flex-direction: column;
  background-image: url('/public/images/pronunciation/categoryback.jpg');
  background-size: 100% 120%;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
}

.beginner-category-title {
  text-align: center;
  font-size: 2.5rem;
  color: #333;
  margin-top: 0rem;
  font-family: 'Sour Gummy', sans-serif;
}

.beginner-category-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 80%;
  max-width: 900px;
  margin-bottom: 50px;
}

.beginner-category-button {
  font-size: 2rem;
  padding: 1rem;
  background-color: #4caf50;
  font-family: 'Sour Gummy', sans-serif;
  font-weight: bolder;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.3s ease;
}

.beginner-category-button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

.beginner-category-button:active {
  transform: scale(0.95);
}